<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>字典管理</title>
    <link rel="stylesheet" href="../../static/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="../../static/module/admin.css?v=317"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        #dictTable + .layui-table-view .layui-table-tool-temp {
            padding-right: 0;
        }

        #dictTable + .layui-table-view .layui-table-body tbody > tr td {
            cursor: pointer;
        }

        #dictTable + .layui-table-view .layui-table-body tbody > tr.layui-table-click {
            background-color: #fff3e0;
        }

        #dictTable + .layui-table-view .layui-table-body tbody > tr.layui-table-click td:last-child > div:before {
            position: absolute;
            right: 6px;
            content: "\e602";
            font-size: 12px;
            font-style: normal;
            font-family: layui-icon !important;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

    </style>
</head>
<body>
<!-- 页面加载loading -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>
<!-- 正文开始 -->
<div class="layui-fluid" style="padding-bottom: 0;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-body" style="padding: 10px;">
                    <!-- 表格工具栏1 -->
                    <form class="layui-form toolbar">
                        <div class="layui-form-item">
                            <div class="layui-inline" style="max-width: 160px;">
                                <input name="DICT_NAME" class="layui-input" placeholder="输入参数名称"/>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn icon-btn" lay-filter="dictTbSearch" lay-submit>
                                    <i class="layui-icon">&#xe615;</i>搜索
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- 数据表格1 -->
                    <table id="dictTable" lay-filter="dictTable"></table>
                </div>
            </div>
        </div>
        <div class="layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-body" style="padding: 10px;">
                    <!-- 表格工具栏2 -->
                    <form class="layui-form toolbar">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">参数名称:</label>
                                <div class="layui-input-inline">
                                    <input name="DICT_NAME" class="layui-input" placeholder="输入参数名称"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">参数代码:</label>
                                <div class="layui-input-inline">
                                    <input name="DICT_KEY" class="layui-input" placeholder="输入参数代码"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">参数值:</label>
                                <div class="layui-input-inline">
                                    <input name="DICT_VALUE" class="layui-input" placeholder="输入参数值"/>
                                </div>
                            </div>
                            <div class="layui-inline">&emsp;
                                <button class="layui-btn icon-btn" lay-filter="dictDataTbSearch" lay-submit>
                                    <i class="layui-icon">&#xe615;</i>搜索
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- 数据表格2 -->
                    <table id="dictDataTable" lay-filter="dictDataTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 表单弹窗1 -->
<script type="text/html" id="dictEditDialog">
    <form id="dictEditForm" lay-filter="dictEditForm" class="layui-form model-form">
        <input name="ID" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">参数名称:</label>
            <div class="layui-input-block">
                <input name="DICT_NAME" placeholder="请输入2-40位长度内的参数名称" class="layui-input"
                       lay-min="2" lay-max="40" lay-verType="tips" lay-verify="required|minlenth|maxlenth" lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">参数代码:</label>
            <div class="layui-input-block">
                <input name="DICT_KEY" placeholder="请输入2-30位长度内的参数代码" class="layui-input"
                       lay-min="2" lay-max="30" lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">参数值:</label>
            <div class="layui-input-block">
                <input name="DICT_VALUE" placeholder="请输入2-30位长度内的参数值" class="layui-input"
                       lay-min="2" lay-max="30" lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">排序号:</label>
            <div class="layui-input-block">
                <input name="SORT_NUMBER" placeholder="请输入排序号" class="layui-input" type="number"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注:</label>
            <div class="layui-input-block">
                <textarea name="DICT_NOTE" placeholder="请输入备注" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="dictEditSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </form>
</script>
<!-- 表格操作列 -->
<script type="text/html" id="dictDataTbBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="dictDataEditDialog">
    <form id="dictDataEditForm" lay-filter="dictDataEditForm" class="layui-form model-form" style="padding-left: 10px;">
        <input id="ID" name="ID" type="hidden"/>
         <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">参数名称:</label>
            <div class="layui-input-block">
                <input id="DICT_NAME" name="DICT_NAME" placeholder="请输入2-40位长度内的参数名称" class="layui-input"
                       lay-min="2" lay-max="40" lay-verType="tips" lay-verify="required|minlenth|maxlenth" lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">参数代码:</label>
            <div class="layui-input-block">
                <input id="DICT_KEY" name="DICT_KEY" placeholder="请输入2-30位长度内的参数代码" class="layui-input"
                       lay-min="2" lay-max="30" lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">参数值:</label>
            <div class="layui-input-block">
                <input id="DICT_VALUE" name="DICT_VALUE" placeholder="请输入2-30位长度内的参数值" class="layui-input"
                       lay-min="2" lay-max="30" lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">排序号:</label>
            <div class="layui-input-block">
                <input id="SORT_NUMBER" name="SORT_NUMBER" placeholder="请输入排序号" class="layui-input" type="number"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注:</label>
            <div class="layui-input-block">
                <textarea id="DICT_NOTE" name="DICT_NOTE" placeholder="请输入备注" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="dictDataEditSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </form>
</script>
<!-- js部分 -->
<script type="text/javascript" src="../../static/libs/layui/layui.js"></script>
<script type="text/javascript" src="../../static/js/common.js?v=317"></script>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var selObj;  // 左表选中数据

		form.verify({
		        minlenth: function(value, item){
		            var min = item.getAttribute('lay-min');
		            if(value.length < min){
		                return '长度不能小于'+min+'个字符';
		            }
		        },
		        maxlenth: function(value, item){
		            var max = item.getAttribute('lay-max');
		            if(value.length > max){
		                return '长度不能大于'+max+'个字符';
		            }
		        }	        
		});

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#dictTable',
            url: '/admin/sys/pList',
            height: 'full-100',
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>&nbsp;',
                '<button lay-event="edit" class="layui-btn layui-btn-sm layui-btn-warm icon-btn"><i class="layui-icon">&#xe642;</i>修改</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>删除</button>',
                '</p>'].join(''),
            defaultToolbar: [],
            cols: [[
                {type: 'numbers'},
                {field: 'DICT_NAME', title: '字典名称'}
            ]],
            done: function (res, curr, count) {
            	tabTitle();//调用方法
                $('#dictTable+.layui-table-view .layui-table-body tbody>tr:first').trigger('click');
            }
        });
        
		function tabTitle(){
		    $('th').each(function(index,element){
		        $(element).attr('title',$(element).text());
		    });
		    $('td').each(function(index,element){
		        $(element).attr('title',$(element).text());
		    });
		};	
		        

        /* 表格搜索 */
        form.on('submit(dictTbSearch)', function (data) {
            insTb.reload({where: data.field});
            return false;
        });

        /* 表格头工具栏点击事件 */
        table.on('toolbar(dictTable)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            } else if (obj.event === 'edit') { // 修改
                showEditModel(selObj.data, selObj);
            } else if (obj.event === 'del') { // 删除
                doDel(selObj);
            }
        });
        
        
        /* 显示表单弹窗 */
        function showEditModel(mData, obj) {
            admin.open({
                type: 1,
                title: (mData ? '修改' : '添加') + '字典',
                content: $('#dictEditDialog').html(),
                success: function (layero, dIndex) {
                    // 回显表单数据
                    form.val('dictEditForm', mData);
                    // 表单提交事件
                    form.on('submit(dictEditSubmit)', function (data) {
                        var loadIndex = layer.load(2);
                        $.get(mData ? '/admin/sys/update' : '/admin/sys/add', data.field, function (res) {
                            layer.close(loadIndex);
                            if (0 == res.code) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                if (obj) {
                                    obj.update(data.field);
                                } else {
                                    insTb.reload();
                                }
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }, 'json');
                        return false;
                    });
                }
            });
        }

        /* 删除 */
        function doDel(obj) {
            layer.confirm('确定要删除此参数吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                layer.close(i);
                var loadIndex = layer.load(2);
                $.get('/admin/sys/del', {
                    ID: obj.data.ID,
                }, function (res) {
                    layer.close(loadIndex);
                    if (0 === res.code) {
                        layer.msg(res.msg, {icon: 1});
                        obj.del();
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'json');
            });
        }        
        
        //处理右边逻辑
        
		var LEFT_PARENTS_ID;//左边父ID
		
        /* 监听行单击事件 */
        table.on('row(dictTable)', function (obj) {
            selObj = obj;
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
            insTb2.reload({where: {PID: obj.data.ID}, page: {curr: 1}, url: '/admin/sys/list'});
            LEFT_PARENTS_ID=obj.data.ID;
        });



        /* 渲染表格2 */
        var insTb2 = table.render({
            elem: '#dictDataTable',
            data: [],
            height: 'full-100',
            page: true,
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>删除</button>&nbsp;',
                '</p>'].join(''),
            cellMinWidth: 100,
            cols: [[
                {type: 'checkbox'},
                {type: 'numbers'},
                {field: 'DICT_NAME', title: '参数名称', sort: true},
                {field: 'DICT_KEY', title: '参数代码', sort: true},
                {field: 'DICT_VALUE', title: '参数值', sort: true},
                {field: 'SORTNUMBER', title: '排序号', sort: true, align: 'center', width: 90, minWidth: 90},
                {field: 'DICT_NOTE', title: '备注', sort: true},
                {
                    field: 'CREATE_TIME', title: '创建时间', templet: function (d) {
                        return util.toDateString(d.CREATE_TIME);
                    }, sort: true
                },
                {title: '操作', toolbar: '#dictDataTbBar', align: 'center', width: 120, minWidth: 120}
            ]]
        });

        /* 表格2搜索 */
        form.on('submit(dictDataTbSearch)', function (data) {
            insTb2.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        /* 表格2工具条点击事件 */
        table.on('tool(dictDataTable)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel2(obj.data);
            } else if (obj.event === 'del') { // 删除
                doDel(obj);
            }
        });

        /* 表格2头工具栏点击事件 */
        table.on('toolbar(dictDataTable)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel2();
            } else if (obj.event === 'del') { // 删除
                var checkRows = table.checkStatus('dictDataTable');
                if (checkRows.data.length === 0) {
                    layer.msg('请选择要删除的数据', {icon: 2});
                    return;
                }
                var ids = checkRows.data.map(function (d) {
                    return d.ID;
                });
                doDel2({ids: ids});
            }
        });

        /* 显示表单弹窗2 */
        function showEditModel2(mData) {
            admin.open({
                type: 1,
                title: (mData ? '修改' : '添加') + '参数',
                content: $('#dictDataEditDialog').html(),
                success: function (layero, dIndex) {
                    // 回显表单数据
                    form.val('dictDataEditForm', mData);
                    // 表单提交事件
                    form.on('submit(dictDataEditSubmit)', function (data) {
                        var loadIndex = layer.load(2);
                        $.get(mData ? '/admin/sys/update' : '/admin/sys/add2',{
                        		"ID":$("#ID").val(),
                        		"PARENTS_ID":LEFT_PARENTS_ID,
								"DICT_NAME":$("#DICT_NAME").val(),
								"DICT_KEY":$("#DICT_KEY").val(),
								"DICT_VALUE":$("#DICT_VALUE").val(),
								"SORT_NUMBER":$("#SORT_NUMBER").val(),
								"DICT_NOTE":$("#DICT_NOTE").val()
                        	}, function (res) {
                            layer.close(loadIndex);
                            if (0 == res.code) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                insTb2.reload({page: {curr: 1}});
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }, 'json');
                        return false;
                    });
                }
            });
        }

        /* 删除2 */
        function doDel2(obj) {
            layer.confirm('确定要删除选中数据吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                layer.close(i);
                var loadIndex = layer.load(2);
                $.get('/admin/sys/del2', {
                    ids: obj.ids ? obj.ids.join(',') : ''
                }, function (res) {
                    layer.close(loadIndex);
                    if (0 === res.code) {
                        layer.msg(res.msg, {icon: 1});
                        insTb2.reload({page: {curr: 1}});
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'json');
            });
        }

    });
</script>
</body>
</html>